@import "_variables";
@import "_functions";
@import "_reset";
html {
    scroll-behavior: smooth;
}

body {
    font: font_weight(regular) 20px font_family(base_font);
    color: color(_black);
    max-width: 100%;
    background: color(_black);
}

h2,
h1 {
    text-shadow:
        -4px -4px 0 color(_black),
        4px -4px 0 color(_black),
        -4px 4px 0 color(_black),
        4px 4px 0 color(_black);
}

h2 {
    font-size: 3em;
    line-height: 0.8em;
}

h1 {
    font-size: 5em;
    text-align: center;
}

.logo {
    align-self: center;
}

.pixel {
    font-family: font_family(pixel_font);
}

.bold {
    font-weight: 700;
}

.member__number {
    font: 10em font_family(stencil_font);
    line-height: 0.5em;
    -webkit-text-stroke: 10px color(_black);
}

.green {
    color: color(_green);
}