@import "_variables";
@import "_functions";
@import "_reset";

body {
  font: font_weight(regular) 20px font_family(base_font);
   //font-family: font_family(base_font) ;
    color: color(_gray);
    max-width: 100%;
}
  h2 {
      font-size: 3em;
     text-shadow:
      -4px -4px 0 color(_black),
 	4px -4px 0 color(_black),
 	-4px 4px 0 color(_black),
 	4px 4px 0 color(_black);
  }
.logo {
    align-self: center;
}
.pixel{
    font-family: font_family(pixel_font);
}
.bold{
    font-weight: 700;
}
.team_number {
    font: 10em font_family(stencil_font);
    line-height: 0.5em;
    -webkit-text-stroke: 10px color(_black);
}
.green{
    color: color(_green);
}
